<%= form_with(model: event_category, local: true) do |form| %>
  <% if event_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_category.errors.count, "error") %> prohibited this event_category from being saved:</h2>

      <ul>
      <% event_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.file_field :img, id: :event_category_img %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
