<p id="notice"><%= notice %></p>
<br/>
<div class="container">
  <% if !@PageTitle.blank? %>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <hr/>
        <h6 class="text-center"><%= @PageTitle %></h6>
        <hr/>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-10">

      <% @posts.each_with_index do |post,i| %>
        <div class="row">
          <div class="col-md-4">
            <%= link_to(post) do %>
              <img src="<%= url_for(post.post_img_url) %>">
            <% end %>
          </div>
          <div class="col-md-8">
            <%= link_to(post) do %>
              <h4 style="margin-top: 0em;"><%= post.title %></h4>
            <% end %>
            <p class="card-text"><%= strip_tags(post.content).truncate(150) %></p>
            <h5 class="small">Tarih: <%= post.created_at.strftime("%d/%m/%Y") %> </h5>
            <h5 class="small">Yazan: <%= link_to post.user.name,controller: "posts", action: "list",po: post.user.id %></h5>
            <h5 class="small">Kategori: <%= link_to post.blog_category.name ,controller: "posts", action: "list",cat: post.blog_category.id %></h5>
            <% if post.tags.size > 0 %>
              <h5 class="small">Etiketler:
                <% post.tags.each do |tag| %>
                  <%= link_to controller: "posts", action: "list",tag: tag.tag do %>
                    <span class="badge badge-primary"><%= tag.tag %></span>
                  <% end %>
                <% end %>
              </h5>
            <% end %>
          </div>
        </div>
        <hr style="margin-bottom: 5em; margin-top: 2em; "/>
      <% end %>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <div class="dropdown">
            <button style="margin-top: 2em;" class="btn btn-primary btn-round dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kategoriler
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Tüm Yazılar",{controller: "posts", action: "index"},{class: "dropdown-item"} %>
              <% BlogCategory.all.each do |bc| %>
                <%= link_to bc.name,{controller: "posts", action: "list",cat: bc.id},{class: "dropdown-item"} %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="dropdown">
            <button class="btn btn-primary btn-round dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Yazılar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Tüm Yazılar",{controller: "posts", action: "index"},{class: "dropdown-item"} %>
              <% Tag.scp_post_tags.each do |tag| %>
                <%= link_to tag.tag,{controller: "posts", action: "list",tag: tag.tag},{class: "dropdown-item"} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if power_user? %>
<%= link_to 'Yeni Yazı', new_post_path %>
<% end %>
